<!-- templates/registration/password_reset_confirm.html -->
{% extends 'accounts/base.html' %}


{% block content %}


    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Réinitialiser mot de passe</div>
            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="form-group text-center">
                        <h5>Définir un nouveau mot de passe.</h5>
                    </div>

                    <div class="form-group">

                        <label for="inputPassword1">Nouveau mot de passe</label>

                        <input class="form-control"
                               name="new_password1"
                               required=""
                               id="id_new_password1"
                               type="password"
                               placeholder="Mot de passe">
                    </div>


                    <br>

                    <div class="form-group">
                        <ul class="text-secondary">
                            <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations
                                personnelles.
                            </li>
                            <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                            <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                            <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                        </ul>

                        <hr>
                        <div class="text-danger">

                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}


                        </div>

                    </div>

                    <br>

                    <div class="form-group">

                        <label for=confirmPassword">Confirmer le nouveau mot de passe</label>

                        <input class="form-control"
                               name="new_password2"
                               required=""
                               id="id_new_password2"
                               type="password"
                               placeholder="Confirmer votre mot de passe">
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Changer mon mot de passe !</button>

                </form>
            </div>
        </div>
    </div>


{% endblock %}