<!-- templates/registration/password_reset_done.html -->
{% extends 'accounts/base.html' %}


{% block content %}


    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Réinitialiser mot de passe</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>Verifier votre boite e-mail.</h4>
                    <p>Nous vous avons envoyer un e-mail avec les instructions pour rénitialiser votre mot de passe.</p>
                </div>

                <div class="text-center">
                    <hr>
                    <a class="d-block small mt-3" href="{% url 'register_account' %}">Enregistrer un compte</a>
                    <a class="d-block small" href="{% url 'login_account' %}">Page de connexion</a>
                    <hr>
                    <a class="d-block small mt-3" href="{% url 'home_page' %}"> Page d'accueil</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}