<!-- templates/registration/password_reset_complete.html -->
{% extends 'accounts/base.html' %}

{% block content %}




    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Réinitialiser mot de passe</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-4">
                    <h4>Mot de passe rénitialiser.</h4>
                    <p>Vous pouvez maintenant vous connecter avec votre nouveau mot de passe via la page de
                        connexion.</p>
                </div>

                <hr>

                <div class="text-center">
                    <a class="d-block small" href="{% url 'login_account' %}">Page de connexion</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}