{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Liste des Unites</li>
    </ol>



    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Liste des Unites
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Cycle</th>
                        <th>Specialite</th>
                        <th>Année specialite</th>

                        <th>Action</th>


                    </tr>
                    </thead>

                    <tfoot>
                    <tr>

                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Cycle</th>
                        <th>Specialite</th>
                        <th>Année specialite</th>


                        <th>Action</th>


                    </tr>
                    </tfoot>
                    <tbody>

                    {% for semestre in semestres %}

                        <tr>
                            <td>{{ semestre.id }}</td>
                            <td>{{ semestre.nom }}</td>
                            <td>{{ semestre.parcours.specialite.cycle.nom }}</td>
                            <td>{{ semestre.parcours.specialite.nom }}</td>

                            <td>{{ semestre.parcours.nom }}</td>


                            <td><a target="_blank" href="{% url 'pv_semestre' pk=semestre.id %}">Selectioner </a></td>


                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>







{% endblock %}
