{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Mon parcours</li>
    </ol>




    <div class="row mt-5">
        <div class="col">
            <h3 class="text-center"> Semestres</h3>

        </div>
    </div>

    <div class="row">
        {% for semestre in semestres %}

            <div class="col">
                <h5 class="text-center">{{ semestre.nom }}</h5>

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Unité</th>
                        <th scope="col">Nom module</th>
                        <th scope="col">Coefficient</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for unite in semestre.unites.all %}
                        {% for module in unite.modules.all %}
                            <tr>
                                {% ifchanged %}
                                    <th scope="col" rowspan="{{ unite.modules.count }}">{{ unite.nom }}</th>
                                {% endifchanged %}

                                <td> {{ module.nom }}</td>
                                <td> {{ module.coefficient }}</td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                    </tbody>

                </table>
            </div>

        {% endfor %}

    </div>




    <hr>

    <div class="row mt-5">
        <div class="col">
            <h3 class="text-center"> Mes notes</h3>

        </div>
    </div>

    <div class="row">
        {% for semestre in semestres %}

            <div class="col">
                <h5 class="text-center">{{ semestre.nom }}</h5>

                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Unité</th>
                        <th scope="col">Nom module</th>
                        <th scope="col">Coefficient</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for unite in semestre.unites.all %}
                        {% for module in unite.modules.all %}
                            <tr>
                                {% ifchanged %}
                                    <th scope="col" rowspan="{{ unite.modules.count }}">{{ unite.nom }}</th>
                                {% endifchanged %}

                                <td> {{ module.nom }}</td>
                                <td> {{ module.coefficient }}</td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                    </tbody>

                </table>
            </div>

        {% endfor %}

    </div>


{% endblock %}
