{% extends 'home_page/base.html' %}

{% load staticfiles %}

{% block content %}

	{% include 'home_page/_navbar.html' %}




	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">
						<strong>Département informatique</strong>
					</h1>
					<hr>
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5"></p>

					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Voir plus</a>

				</div>
			</div>
		</div>
	</header>



	{% include 'home_page/_service.html' %}

	{% include 'home_page/_contact.html' %}



{% endblock %}
