{% extends 'home_page/base.html' %}

{% load staticfiles %}

{% block content %}

	{% include 'home_page/_navbar.html' %}




	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">
						<strong>Your Favorite Source of Free Bootstrap Themes</strong>
					</h1>
					<hr>
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap
						CSS
						framework! Just download your template and start going, no strings attached!</p>
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
				</div>
			</div>
		</div>
	</header>



	{% include 'home_page/_service.html' %}

	{% include 'home_page/_contact.html' %}



{% endblock %}
