{% extends 'accounts/base.html' %}

{% load staticfiles %}


{% block content %}


    <style>
        .error {
            color: #ff284e;
        }

        .success {
            color: #4eb718;
        }
    </style>

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Connexion</div>
            <div class="card-body">







                <form method="post" role="form" enctype="multipart/form-data">{% csrf_token %}





                    <div class="form-group">

                        <label for="exampleInputUsername">Nom d'utilisateur</label>

                        <input required name="nomUtilisateur" class="form-control" id="" type="text"
                               placeholder="Entrer votre nom d'utilisateur">
                    </div>






                    <div class="form-group">

                        <label for="exampleInputPassword1">Mot de passe</label>

                        <input required name="password" class="form-control" id="" type="password"
                               placeholder="Entrer votre mot de passe">
                    </div>







                    <div class="form-group">

                        {% if messages %}
                            <ul>
                                {% for message in messages %}

                                    <li
                                            {% if message.tags %}
                                                class="{{ message.tags }}"
                                            {% endif %}>
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>

                </form>









                <div class="text-center">
                    <a class="d-block small mt-3" href="{% url 'register_account' %}">Enregistrer un compte</a>
                    <a class="d-block small" href="{% url 'password_reset' %}">Mot de passe perdu ?</a>
                    <hr>
                    <a class="d-block small mt-3" href="{% url 'home_page' %}"> Page d'accueil</a>


                </div>

            </div>
        </div>
    </div>

{% endblock %}
