{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Mes messages</li>
    </ol>




    <div class="row">

        <div class="col">
            <h2>Mes messages</h2>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'ecrire_message' %}" role="button">Ecrire un
                message</a>
            <hr>

            <ul class="list-group">


                {% for message in messages_recu %}

                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>De : </strong>{{ message.auteur }}</li>
                            <li class="list-group-item"><strong>A : </strong> {{ message.destinataire }}</li>
                            <li class="list-group-item"><strong>Titre : </strong> {{ message.titre }}</li>
                            <li class="list-group-item"><strong>Date : </strong> {{ message.created_date }}</li>
                            <li class="list-group-item"><strong>Message : </strong>{{ message.texte }}</li>
                            <a class="list-group-item list-group-item-action active text-center"
                               href="{% url 'message_details' pk=message.id %}"><span>Details</span></a>
                        </ul>
                    </li>

                {% endfor %}
            </ul>

        </div>

    </div>




{% endblock %}
