{% load staticfiles %}
{% block navbar %}


    <!-- debut nav bar all-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'home_page' %}">Service Scolarité</a>


        <!-- debut btn nav responsive-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- fin btn nav responsive-->


        <!-- debut nav bar-->
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!-- debut nav bar lateral-->
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                <!-- debut element 1 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'dashboard_home_page' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <!-- fin element 1 nav lateral-->


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gestion des etudiants">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
                       href="#collapseGestionEtudiants"
                       data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Gestion des etudiants</span>
                    </a>

                    <ul class="sidenav-second-level collapse" id="collapseGestionEtudiants">
                        <li>
                            <a href="{% url 'dashboard_liste_etudiants' %}">Liste des etudiants</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard_liste_bacs' %}">Liste des bac</a>
                        </li>
                        <li>
                            <a href="#">Blank Page</a>
                        </li>
                        <li>
                            <a href="#">Blank Page</a>
                        </li>
                    </ul>
                </li>

                <!-- debut element 2 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
                       data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Gestion des inscriptions</span>
                    </a>

                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="{% url 'dashboard_liste_inscriptions' %}">Liste des inscriptions</a>
                        </li>
                        <li>
                            <a href="#">Blank Page</a>
                        </li>
                        <li>
                            <a href="#">Blank Page</a>
                        </li>
                        <li>
                            <a href="#">Blank Page</a>
                        </li>
                    </ul>
                </li>
                <!-- fin element 2 nav lateral-->

                <!-- debut element 3 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
                       data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">Gestions des PV's</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="{% url 'liste_modules' %}">PV Modules</a>
                        </li>
                        <li>
                            <a href="{% url 'liste_unites' %}">PV Unités</a>
                        </li>
                        <li>
                            <a href="{% url 'liste_semestre' %}">PV Semestres </a>
                        </li>
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Blank
                                Page
                            </a>
                            <ul class="sidenav-third-level collapse" id="collapseMulti2">
                                <li>
                                    <a href="#">Blank Page</a>
                                </li>
                                <li>
                                    <a href="#">Blank Page</a>
                                </li>
                                <li>
                                    <a href="#">Blank Page</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- fin element 3 nav lateral-->

                <!-- debut element 4 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Autre</span>
                    </a>
                </li>
                <!-- fin element 4 nav lateral-->

            </ul>
            <!-- fin nav bar lateral-->

            <!-- bouton slide nav bar laterale-->
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <!-- fin bouton slide nav bar laterale-->


            <!-- debut nav bar horizontale-->
            <ul class="navbar-nav ml-auto">


                <!--debut menu deroulant message-->
                <li class="nav-item dropdown">

                    <!--debut boutton menu deroulant message-->
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">

                        <i class="fa fa-fw fa-envelope"></i>

                        <span class="d-lg-none">
                        Messages
                        <span class="badge badge-pill badge-primary">12 New</span>
                    </span>

                        <span class="indicator text-primary d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                    </a>
                    <!--fin boutton menu deroulant message-->

                    <!--debut contenu menu deroulant message-->
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">

                        <h6 class="dropdown-header">New Messages:</h6>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">
                            <strong>CHOUIB Chawki</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Donec sollicitudin molestie malesuada. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Proin eget
                                tortor risus. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in,
                                elementum id enim.
                            </div>
                        </a>

                        <a class="dropdown-item" href="#">
                            <strong>CHOUIB Chawki</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Donec sollicitudin molestie malesuada. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Proin eget
                                tortor risus. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in,
                                elementum id enim.
                            </div>
                        </a>


                        <a class="dropdown-item" href="#">
                            <strong>CHOUIB Chawki</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Donec sollicitudin molestie malesuada. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Proin eget
                                tortor risus. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in,
                                elementum id enim.
                            </div>
                        </a>


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                    <!--debut contenu menu deroulant message-->
                </li>
                <!-- fin menu deroulant message-->


                <!--menu deroulant notif-->
                <li class="nav-item dropdown">

                    <!--debut boutton menu deroulant message-->
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>

                        <span class="d-lg-none">Alerts
                        <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                    </a>
                    <!--fin boutton menu deroulant message-->

                    <!--debut contenu menu deroulant message-->
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">
                        <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                        </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.
                            </div>
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">
                        <span class="text-danger">
                            <strong>
                                <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
                        </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.
                            </div>
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">
                        <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
                        </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All
                                systems are online.
                            </div>
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item small" href="#">View all alerts</a>

                    </div>
                    <!--fin contenu menu deroulant message-->

                </li>
                <!-- fin menu deroulant notif-->


                <!-- bar de recherche-->
                <li class="nav-item">
                    <form method="post" class="form-inline my-2 my-lg-0 mr-lg-2"> {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Rechercher un etudiant..." size="25">
                            <span class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </form>
                </li>
                <!-- fin bar de recherche-->


                <!-- debut message hello-->
                <li class="nav-item">
                    <a class="nav-link">
                        Bonjour {{ user.username }} !</a>
                </li>
                <!-- fin message hello-->

                <!-- debut btn logout-->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Déconnexion</a>
                </li>
                <!-- fin btn logout-->
            </ul>
            <!-- fin nav bar horizontale-->


        </div>

    </nav>
    <!-- fin nav bar all-->

{% endblock %}