{% load staticfiles %}
{% block navbar %}


    <!-- debut nav bar all-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'home_page' %}">Service Scolarité</a>


        <!-- debut btn nav responsive-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- fin btn nav responsive-->


        <!-- debut nav bar-->
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!-- debut nav bar lateral-->
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                <!-- debut element 1 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'dashboard_home_page' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <!-- fin element 1 nav lateral-->


                <!-- debut element 4 nav lateral-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="{% url 'dashboard_etudiant_information' pk=user.etudiant.id %}">
                        <i class="fa fa-fw fa-info"></i>
                        <span class="nav-link-text">Mes informations </span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="{% url 'dashboard_etudiant_historique' pk=user.etudiant.id %}">
                        <i class="fa fa-fw fa-history"></i>
                        <span class="nav-link-text">Mon historique</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="{% url 'dashboard_etudiant_parcours' pk=user.etudiant.id %}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Mon parcours</span>
                    </a>
                </li>

                <!-- fin element 4 nav lateral-->

            </ul>
            <!-- fin nav bar lateral-->

            <!-- bouton slide nav bar laterale-->
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <!-- fin bouton slide nav bar laterale-->


            <!-- debut nav bar horizontale-->
            <ul class="navbar-nav ml-auto">


                <!--debut menu deroulant message-->
                <li class="nav-item dropdown">

                    <!--debut boutton menu deroulant message-->
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">

                        <i class="fa fa-fw fa-envelope"></i>

                        <span class="d-lg-none">
                        Messages
                        <span class="badge badge-pill badge-primary">{{ messages.count }} New</span>
                    </span>

                        <span class="indicator text-primary d-none d-lg-block">
                            {% if messages %}
                                <i class="fa fa-fw fa-circle"></i>
                            {% endif %}
                    </span>
                    </a>
                    <!--fin boutton menu deroulant message-->

                    <!--debut contenu menu deroulant message-->
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">

                        <h6 class="dropdown-header">Nouveaux Messages:</h6>

                        <div class="dropdown-divider"></div>


                        {% if messages %}
                            {% for message in messages %}
                                <a class="dropdown-item" href="{% url 'message_details' pk=message.id %}">
                                    <strong>{{ message.auteur }}</strong>
                                    <span class="small float-right text-muted">{{ message.created_date }}</span>
                                    <div class="dropdown-message small">{{ message.texte }}
                                    </div>
                                </a>

                            {% endfor %}
                        {% else %}
                            <h7 class="dropdown-header">Aucun nouveaux messages</h7>
                        {% endif %}



                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="{% url 'liste_messages_recu' %}">View all messages</a>
                    </div>
                    <!--debut contenu menu deroulant message-->
                </li>
                <!-- fin menu deroulant message-->


                <!-- debut message hello-->
                <li class="nav-item">
                    <a class="nav-link">
                        Bonjour {{ user.username }} !</a>
                </li>
                <!-- fin message hello-->

                <!-- debut btn logout-->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Déconnexion</a>
                </li>
                <!-- fin btn logout-->
            </ul>
            <!-- fin nav bar horizontale-->


        </div>

    </nav>
    <!-- fin nav bar all-->

{% endblock %}