{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Liste des inscriptions</li>
    </ol>



    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Liste des inscriptions
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>N°</th>
                        <th>Date</th>


                        <th>Nom</th>
                        <th>Prenom</th>

                        <th>Specialité</th>
                        <th>Année</th>
                        <th>Type</th>


                        <th>Detail</th>


                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>


                        <th>Nom</th>
                        <th>Prenom</th>

                        <th>Specialité</th>
                        <th>Année</th>
                        <th>Type</th>

                        <th>Detail</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    {% for inscription in inscriptions %}

                        <tr>
                            <td>{{ inscription.id }}</td>
                            <td>{{ inscription.date_creation.date }}</td>

                            <td>{{ inscription.etudiant.nom.upper }}</td>
                            <td>{{ inscription.etudiant.prenom.capitalize }}</td>

                            <td> {{ inscription.parcours.specialite.nom }}</td>
                            <td> {{ inscription.parcours.nom }}</td>
                            <td>{{ inscription.categorie }}</td>
                            <td><a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'dashboard_detail_inscription' pk=inscription.id %}" role="button">Detail</a>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated {{ inscriptions.last.date_creation }}</div>
    </div>
    </div>







{% endblock %}
