{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet"
          type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet">

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">


{% block navbar %}

    {% if user.groups.get.name == 'Administrateur' %}
        {% include 'dashboard/navbar/_navbar_admin.html' %}
    {% elif user.groups.get.name == 'Enseignant' %}
        {% include 'dashboard/navbar/_navbar_enseignant.html' %}
    {% else %}
        {% include 'dashboard/navbar/_navbar_etudiant.html' %}
    {% endif %}



{% endblock %}


{% block logout %}
    {% include 'dashboard/_logout.html' %}
{% endblock %}


<div class="content-wrapper">
    <div class="container-fluid">


        {% block content %}





        {% endblock %}




        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>


    </div>
    <!-- /.container-fluid-->

</div>
<!-- /.content-wrapper-->



{% block footer %}
    {% include 'dashboard/-footer.html' %}
{% endblock %}

</body>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/js/sb-admin.min.js' %}"></script>
<script src="{% static 'dashboard/js/sb-admin-datatables.min.js' %}"></script>


</html>
