{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Mon Dashboard</li>
    </ol>




    <!-- Icon Cards-->
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">26 New Messages!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'liste_messages_recu' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>

    </div>

{% endblock %}
