{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard_home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Liste des etudiants</li>
    </ol>



    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Liste des etudiants
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Matricule</th>
                        <th>Date d'ajout</th>


                        <th>Nom</th>
                        <th>Prenom</th>

                        <th>Date de naissance</th>

                        <th>Lieu de naissance</th>


                        <th>Nationalité</th>
                        <th>Detail</th>


                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Matricule</th>
                        <th>Date d'ajout</th>


                        <th>Nom</th>
                        <th>Prenom</th>

                        <th>Date de naissance</th>

                        <th>Lieu de naissance</th>


                        <th>Nationalité</th>
                        <th>Detail</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    {% for etudiant in etudiants %}

                        <tr>
                            <td>{{ etudiant.id }}</td>
                            <td>{{ etudiant.user.date_joined }}</td>

                            <td>{{ etudiant.user.first_name.capitalize }}</td>
                            <td>{{ etudiant.user.last_name.upper }}</td>

                            <td> {{ etudiant.date_naissance }}</td>
                            <td> {{ etudiant.lieu_naissance.capitalize }}</td>
                            <td> {{ etudiant.nationalite.name }}</td>
                            <td><a href="{% url 'dashboard_detail_etudiant' pk=etudiant.id %}">Detail </a></td>


                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated {{ etudiants.last.user.date_joined }}</div>
    </div>
    </div>







{% endblock %}
